.btn-login {
    background-color: #086df1;
    color: white;
    border-radius: 20px;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.btn-login:hover {
    background-color: #1a7d7e;
}
