body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
  }
  
  .content {
    flex: 1;
  }
  
  .background-container {
    background-image: url('https://a-static.besthdwallpaper.com/gray-abstract-wallpaper-2304x768-80982_103.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .card {
    width: 100%;
    max-width: 24rem;
    cursor: pointer;
  }
  
  .footer {
    background-color: #000;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    width: 100%;
  }
  