body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
  }
  
  .content {
    flex: 1;
  }
  
  .background-container {
    background-image: url('https://img.freepik.com/vector-gratis/circulo-azul-abstracto-sobre-tecnologia-fondo-negro_1142-12714.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .card {
    width: 100%;
    max-width: 24rem;
    cursor: pointer;
  }
  
  .footer {
    background-color: #000;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    width: 100%;
  }
  